<h1><%= t('books.edit.editing') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('shared.back_to_show'), @book %> |
  <%= link_to t('shared.back_to_books'), books_path %>
</nav>
