<p style="color: green"><%= notice %></p>

<h1>Reports</h1>

<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Show this report", user_report_path(@user, report) %>
    </p>
  <% end %>
</div>
<% if current_user == @user %>
  <%= link_to "New report", new_report_path %>
<% end %>